.msdi-body {
  padding: 0;
  margin: 0;
  background-color: #0a0a0a;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  width: 100%;
}

.card-1 {
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  background-size: cover;
}

.card-2 {
  height: 33.3vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  background-size: cover;
}

.climate-action {
  background-image: url("img/climate.png");
}

.systems-transitions {
  background-image: url("img/systems.png");
}

.healthy-communities {
  background-image: url("img/community.png");
}

.clean-water {
  background-image: url("img/water.png");
}

.policy-leadership {
  background-image: url("img/policy.png");
}

.btn {
  display: inline;
  overflow: auto;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s;
  margin: 2px;
  color: white;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: 20vh;
  background-color: #ef3a4b;
  color: #fff;
}

.form-container {
  align-content: center;
  box-sizing: border-box;
}

.form-spacer {
  height: 10px;
  background-color: #ef3a4b;
}

.form-header {
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form-row {
  /* text-align: left; */
  align-items: center;
  margin-left: 10px;
}

.msdi-form {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #fff;
  background-color: #ef3a4b;
}

.no-outline:focus {
  outline: none;
  color: #fff;
  font-weight: bold;
}

input::placeholder {
  color: #f1f1f1;
  opacity: 60%;
}

/* Body Things */

.page-content {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #0a0a0a;
  text-align: center;
}

.header {
  text-align: center;
  height: 85vh;
  width: 100vw;
  background-image: url("img/heroM.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
}

#navbar {
  /* Roboto Regular */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
  background-color: #fc6228;
  z-index: 1;
  top: 0;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #fc6228;
  color: #0a0a0a;
}

#navbar a.active {
  background-color: #fc6228;
  color: #fff;
}

.nav {
  list-style-type: none;
  text-align: right;
  margin-right: 2em;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 98%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.menu a {
  padding: 8px 8px 8px 60px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #f1f1f1;
}

.menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu hr {
  background-color: #fff;
  opacity: 50%;
  max-width: 95%;
}

/* Font things */

h1 {
  /* Roboto Black */
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2em;
  color: #fff;
  margin-right: 8em;
  margin-top: 2em;
  text-align: center;
}

h2 {
  /* Roboto Black */
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.4em;
  color: #fff;
  text-align: center;
}

h3 {
  /* Roboto Medium */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4em;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

h3:first-of-type {
  line-height: 0em;
}

p {
  /* Roboto Regular */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

a {
  /* Roboto Regular */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: gray;
}

li {
  /* Roboto Regular */
  list-style-type: square;
  padding-top: 12px;
  padding-bottom: 12px;
}

li:not(:last-of-type) {
  padding-bottom: 24px;
}

.row-spacer {
  height: 2em;
}

.black-spacer {
  height: 2em;
  background-color: #0a0a0a;
}

.sm-row-spacer {
  height: 1em;
}

.xs-row-spacer {
  height: 0.5em;
}

/* Class Things */

/* Segments */

section {
  text-align: center;
}

.intro {
  /* Roboto Light */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.2em;
  color: #fff;
}

.story-title {
  /* Roboto Medium */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2em;
  color: #fc6228;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.cta {
  /* Roboto Light */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4em;
  color: #fc6228;
  padding-bottom: 1em;
}

.responsive-youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0;
}

/* Buttons */

.large-button-white {
  background-color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #0a0a0a;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 24px 76px;
  text-decoration: none;
  text-transform: uppercase;
}
.large-button-white:hover {
  background-color: gray;
  color: #fff;
}
.large-button-white:active {
  position: relative;
  top: 1px;
}

.large-button-black {
  background-color: #0a0a0a;
  border: 1px solid #0a0a0a;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 24px 76px;
  text-decoration: none;
  text-transform: uppercase;
}
.large-button-black:hover {
  background-color: gray;
  color: #0a0a0a;
}
.large-button-black:active {
  position: relative;
  top: 1px;
}

.regular-button-white {
  background-color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #0a0a0a;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 12px 76px;
  text-decoration: none;
}
.regular-button-white:hover {
  background-color: gray;
  color: #fff;
}
.regular-button-white:active {
  position: relative;
  top: 1px;
}

.regular-button-black {
  background-color: #0a0a0a;
  border: 1px solid #0a0a0a;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 12px 76px;
  text-decoration: none;
}
.regular-button-black:hover {
  background-color: gray;
  color: #0a0a0a;
}
.regular-button-black:active {
  position: relative;
  top: 1px;
}

.btn-menu,
.btn-download {
  position: sticky;
  top: 0;
  right: 0;
  display: inline-block;
  margin-left: 1px;
  font-size: 14px;
  padding: 12px 76px;
}

.download-button {
  position: absolute;
  top: 0;
  right: 18em;
  font-size: 14px;
  padding: 24px 76px;
  background-color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #0a0a0a;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.download-button:hover {
  background-color: gray;
  color: #0a0a0a;
}
.download-button:active {
  top: 1px;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 5em;
  font-size: 14px;
  padding: 24px 76px;
  background-color: #0a0a0a;
  border: 1px solid #0a0a0a;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.menu-button:hover {
  background-color: gray;
  color: #0a0a0a;
}
.menu-button:active {
  top: 1px;
}

/* @Media Calls */

/* Medium devices (tablets, 768px and up to 992px) */
@media screen and (max-width: 992px) {
  /* Font things */

  h1 {
    /* Roboto Black */
    font-size: 44px;
    line-height: 1em;
  }

  h2 {
    /* Roboto Black */
    font-size: 24px;
    line-height: 1em;
  }

  h3 {
    /* Roboto Medium */
    font-size: 20px;
    line-height: 1em;
  }

  h3:first-of-type {
    line-height: 1em;
  }

  p {
    /* Roboto Regular */
    padding-top: 12px;
    padding-bottom: 12px;
  }

  a {
    /* Roboto Regular */
    line-height: 1em;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  /* Segments */

  .intro {
    /* Roboto Light */
    font-size: 18px;
    line-height: 1em;
  }

  form {
    height: 30vh;
    background-color: #ef3a4b;
    color: #fff;
  }

  .form-row {
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0em;
  }

  /* Buttons */

  .large-button-white {
    font-size: 12px;
    padding: 18px 54px;
  }

  .large-button-black {
    font-size: 12px;
    padding: 18px 54px;
  }

  .regular-button-white {
    font-size: 12px;
    padding: 12px 54px;
  }

  .regular-button-black {
    font-size: 12px;
    padding: 12px 54px;
  }

  .btn-menu,
  .btn-download {
    position: sticky;
    top: 0;
    right: 0;
    display: inline-block;
    margin-left: 1px;
    font-size: 12px;
    padding: 10px 30px;
  }
}

/* Small devices (phones) */
@media screen and (max-width: 600px) {
  /* Font things */

  h1 {
    /* Roboto Black */
    font-size: 36px;
    line-height: 1em;
  }

  h2 {
    /* Roboto Black */
    font-size: 20px;
    line-height: 1em;
  }

  h3 {
    /* Roboto Medium */
    font-size: 18px;
    line-height: 1em;
  }

  h3:first-of-type {
    line-height: 1em;
  }

  p {
    /* Roboto Regular */
    padding-top: 12px;
    padding-bottom: 12px;
  }

  a {
    /* Roboto Regular */
    line-height: 1em;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  /* Segments */

  .card-1 {
    height: 33.3vh;
  }

  .intro {
    /* Roboto Light */
    font-size: 16px;
    line-height: 1em;
  }

  form {
    height: 33vh;
    background-color: #ef3a4b;
    color: #fff;
  }

  .form-row {
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 0.3em 0em;
  }

  /* Buttons */

  .large-button-white {
    font-size: 12px;
    padding: 16px 48px;
  }

  .large-button-black {
    font-size: 12px;
    padding: 16px 48px;
  }
  .regular-button-white {
    font-size: 12px;
    padding: 10px 48px;
  }

  .regular-button-black {
    font-size: 12px;
    padding: 10px 48px;
  }

  .btn-menu,
  .btn-download {
    position: sticky;
    top: 0;
    right: 0;
    display: inline-block;
    margin-left: 1px;
    font-size: 12px;
    padding: 8px 24px;
  }
}

/* Small devices (phones) */
@media screen and (min-width: 20px) {
  form {
    height: 45vh;
    background-color: #ef3a4b;
    color: #fff;
  }
}
