body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto Black", sans-serif;
  font-size: 1rem;
  color: black;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.jumbotron {
  background-image: url("img/systems-transition.jpg");
  background-size: cover;
  height: 100vh;
}

.h1-text-overlay {
  position: relative;
  top: auto;
  color: #fff;
}

.intro-text-overlay {
  position: relative;
  margin-top: 1em;
  left: auto;
  color: #fff;
}

.cta-btn-reg-white {
  text-transform: uppercase;
  position: relative;
  margin-top: 2em;
  left: auto;
  background-color: #fff;
  border-color: #fff;
  display: inline-block;
  cursor: pointer;
  color: #0a0a0a;
  font: "Roboto Medium", "Roboto", sans-serif;
  padding: 16px 76px;
  text-decoration: none;
}
.cta-btn-reg-white:hover {
  background-color: rgb(104, 104, 104);
  color: #fff;
  border-color: #fff;
}
.cta-btn-reg-white:active {
  position: relative;
  top: 1px;
  background-color: rgb(104, 104, 104);
  color: #fff;
  border-color: #fff;
}

.container {
  box-sizing: border-box;
  width: 90%;
  padding: 5px;
}

#navbar {
  overflow: hidden;
  background-color: #c800d9;
  z-index: 1;
  top: -1em;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #c800d9;
  color: #0a0a0a;
}

#navbar a.active {
  background-color: #c800d9;
  color: fff;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.responsive-youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.btn {
  display: inline;
  overflow: auto;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s;
  margin: 2px;
  color: white;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-btn-sm-white {
  text-transform: uppercase;
  position: relative;
  margin-top: 2em;
  left: auto;
  background-color: #fff;
  border-color: #fff;
  display: inline-block;
  cursor: pointer;
  color: #0a0a0a;
  font: "Roboto Medium", "Roboto", sans-serif;
  padding: 8px 38px;
  text-decoration: none;
}
.cta-btn-sm-white:hover {
  background-color: rgb(104, 104, 104);
  color: #fff;
  border-color: #fff;
}
.cta-btn-sm-white:active {
  position: relative;
  top: 1px;
  background-color: rgb(104, 104, 104);
  color: #fff;
  border-color: #fff;
}

.cta-btn-sm-climate {
  text-transform: uppercase;
  position: relative;
  margin-top: auto;
  margin-left: auto;
  background-color: #c800d9;
  border-color: #c800d9;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font: "Roboto Medium", "Roboto", sans-serif;
  padding: 8px 38px;
  text-decoration: none;
}
.cta-btn-sm-climate:hover {
  background-color: rgb(104, 104, 104);
  color: #c800d9;
  border-color: #c800d9;
}
.cta-btn-sm-climate:active {
  position: relative;
  top: 1px;
  background-color: rgb(104, 104, 104);
  color: #c800d9;
  border-color: #c800d9;
}

.cta-text-climate {
  font: "Roboto Light", "Roboto", sans-serif;
  line-height: 1.4em;
  color: #c800d9;
}

.row-spacer {
  height: 100px;
}

.sm-row-spacer {
  height: 50px;
}

.xs-row-spacer {
  height: 10px;
}

.white-container {
  /* height: 250vh; */
  background-color: #fff;
}

.grey-container {
  /* height: 250vh; */
  background-color: #f8f8f8;
}

.stats-climate {
  color: #c800d9;
  font: "Roboto Black", "Roboto", sans-serif;
  font-size: 198px;
  align-content: center;
}

.stats-captions-climate {
  color: #c800d9;
  font: "Roboto Black", "Roboto", sans-serif;
  font-size: 24px;
  top: -3em;
}

.section-mini-title {
  /* padding-left: 9em; */
}

/* Small devices (phones) */
@media (max-width: 575.98px) {
  .h1-text-overlay {
    position: relative;
    top: auto;
    line-height: 0.8em;
    color: #fff;
  }
  .stats-climate {
    color: #c800d9;
    font: "Roboto Black", "Roboto", sans-serif;
    font-size: 50px;
    text-align: center;
  }

  .stats-captions-climate {
    color: #c800d9;
    font: "Roboto Black", "Roboto", sans-serif;
    font-size: 12px;
    top: -3em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
  .h1-text-overlay {
    position: relative;
    top: auto;
    line-height: 1em;
    color: #fff;
  }
  .stats-climate {
    color: #c800d9;
    font: "Roboto Black", "Roboto", sans-serif;
    font-size: 100px;
    text-align: center;
  }

  .stats-captions-climate {
    color: #c800d9;
    font: "Roboto Black", "Roboto", sans-serif;
    font-size: 16px;
    top: -3em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
  .h1-text-overlay {
    position: relative;
    top: auto;
    line-height: 1.1em;
    color: #fff;
  }

  .stats-climate {
    color: #c800d9;
    font: "Roboto Black", "Roboto", sans-serif;
    font-size: 150px;
    text-align: center;
  }

  .stats-captions-climate {
    color: #c800d9;
    font: "Roboto Black", "Roboto", sans-serif;
    font-size: 20px;
    top: -3em;
  }
}
